<!-- Form Comment -->
<h4>New Comment</h4>
<br>
<%= form_with model: [@article, @article.comments.build] do |form| %>
  <div class="control-group">
    <div class="form-group floating-label-form-group controls">
      <%= form.text_field :commenter,
                          class: 'form-control-plaintext',
                          value: username,
                          readonly: true
      %>
    </div>
  </div>
  <div class="control-group">
    <div class="form-group floating-label-form-group controls">
      <%= form.label :body %>
      <%= form.text_field :body,
                          class: 'form-control',
                          placeholder: 'Comment'
      %>
      <p class="help-block text-danger"></p>
    </div>
  </div>
  <div class="control-group">
    <%= form.label :status %><br />
    <%= form.select :status,
                    %w[public private archived],
                    selected: 'public',
                    class: 'dropdown'
    %>
  </div>
  <br />
  <div class="control-group">
    <%= form.submit 'Send', class: 'btn btn-outline-dark' %>
  </div>
<% end %>
