<!-- Page Header -->
<% content_for :background do %>
  <%= asset_path 'post-bg.jpg' %>
<% end %>
<% content_for :header do %>
  <div class="post-heading">
    <h1><%= @article.title %></h1>
    <span class="meta">
      Posted By <%= link_to @article.user.username, user_path(@article.user) %>
    </span>
  </div>
<% end %>
<!-- Post Content -->
<article>
  <p><%= @article.body %></p>
  <% if user_logged_in? && current_user.id == @article.user_id %>
    <div class="d-grid gap-2 col-12 mx-auto">
      <%= link_to 'Edit',
                  edit_article_path(@article),
                  class: 'btn btn-outline-primary' %>
      <%= link_to 'Delete',
                  article_path(@article),
                  method: :delete, data: { confirm: 'Are you sure?' },
                  class: 'btn btn-outline-danger' %>
    </div>
  <% end %>
  <hr />
  <h3>Comments</h3>
  <br />
  <% @article.comments.each do |comment| %>
    <%= render comment %>
  <% end %>
  <% if user_logged_in? %>
    <% if current_user == @article.user || current_user.follow_user?(@article.user_id) %>
      <%= render 'comments/form' %>
    <% else %>
      <h3>
      Follow the user <%= link_to @article.user.username, user_path(@article.user) %> to share your ideas !
      </h3>
    <% end %>
  <% else %>
    Share your ideas ! <br />
    <Strong> <%= link_to 'Sign Up', signup_path %> </Strong>
    or
    <Strong> <%= link_to 'Sign In', signin_path %> </Strong>
  <% end %>
</article>
<hr />
