<!-- Page Header -->
<% content_for :background do %>
  <%= asset_path 'user-bg.jpg' %>
<% end %>
<!-- Page Header -->
<% content_for :header do %>
  <div class="post-heading">
    <h1><%= @user.username %> Profile</h1>
    <span class="meta">
      <%= @user.first_name %> <%= @user.last_name %>
    </span>
    <br>
    <% if current_user %>
      <% if current_user.id != @user.id %>
        <% unless current_user.follow_user?(@user.id) %>
          <%= link_to 'Follow',
                    followers_path(user_id: @user.id),
                    method: :post,
                    class: 'btn btn-primary' %>
        <% else %>
          <%= link_to 'Unfollow',
                    follower_path(user_id: @user.id),
                    method: :delete,
                    data: { confirm: 'Are you sure?' },
                    class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    <% else %>
      <span class="meta">
        <h5>Sign Up or Sign In to follow <%= @user.username %></h5>
      </span>
    <% end %>
  </div>
<% end %>
<!-- Articles -->
<%= render 'articles/list', user: @user, articles: @user.articles %>
